body{
    background: #47AB5B;
    margin-bottom: 10px;
}

h1{
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 15px;
}

h3{
    font-size: 28px;
    font-weight: 250;
    margin: 10px 0;
}

.container{
    display: flex;
    flex-flow: column wrap;
    padding: 0 15px;
    margin: auto;
    margin-top: 10px;
    width: 80vw;
    min-width: 350px;
    background-color:#96C69F;
    border-radius: 5px;
    border: 1px solid #013220;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.row-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

.row .item{
    display:flex;
    justify-content: center;
    width: 300px;
    margin: 5px 0;
}

.row button {
    margin: 5px;
    background-color: #47AB5B;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.footer{
    height: 32px;
}